/* @import url("https://fonts.googleapis.com"); */


/* @import url("https://fonts.googleapis.com"); */

html {
    height: 100%;
    margin: 0;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.logo {
    font-size: 30px;
    margin: 0.5rem 2rem;
    font-family: 'Trebuchet MS', sans-serif;
    border: none;
}

body {
    width: 100vw;
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
}

.backGrid {
    /* background-image: url('./Component/backgImg.jpg'); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    min-height: 100%;
    /* background: #E5E5E5; */
}

.AddBkPg {
    display: grid;
    place-items: center;
    height: 100%;
    background: #E5E5E5;
}

.row-content {
    margin: 0px auto;
    padding: 30px 0px 50px 0px;
}

.footer {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 15px;
    margin: auto;
    margin-bottom: 0;
}

.home {
    background-image: url('./Component/books.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E5E5E5;
}


/* .darkbg{
      background-color: black;
      opacity: 0.7;
      color: white;
      size: 1rem;
  } */

.ko {
    padding: 2px;
    margin-left: 2rem;
}

.koo {
    padding: 2px;
    margin-left: 3rem;
    max-width: 50%;
    font-size: 1.5rem;
}

table {
    min-width: 40%
}

.headingss {
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    margin: 0px;
    text-align: center;
    color: #224957;
}

.full {
    min-height: 100vh;
}

.inner {
    margin: 0px auto;
    padding: 0 5%;
    font-size: 2rem;
}

.Headline {
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    background-color: #E5E5E550;
}

.dif {
    display: flex;
    justify-content: flex-end;
}

.tabla {
    margin: 1rem 5rem;
}

.tabla th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    color: black;
}

.tabla td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    color: black;
}

.cardwala {
    border-bottom: 1px solid black;
    margin: auto;
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

.cardwal {
    padding: 0.5rem;
    margin: auto;
    font-size: 1.3rem;
}

.heading {
    margin: 2em auto;
    padding: 0;
    border: 1px solid black;
    max-width: 400px;
}

.but {
    background-color: blue;
    padding: 5px 15px;
    border-radius: 10px;
}

.records {
    background: #E5E5E5;
    margin-top: 0;
    padding: 20px;
    padding-top: 45px;
    min-height: 100vh;
}

.tab {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.td2,
.th2 {
    border: 1px solid black;
    padding: 20px;
}

.Option {
    cursor: pointer;
}

.loading {
    min-height: 100vh;
}

.space {
    margin: 40px 0px;
}

.space>p {
    padding: 0px 50px;
    color: #224957;
}

.space_head {
    font-family: 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #20DF7F;
}