/* @import url("https://fonts.googleapis.com"); */

.login-btn {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}

.form {
    background-color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 600px;
    margin: 20px auto;
    padding: 2.2rem;
    max-height: 380px;
}

.form2 {
    background-color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 500px;
    margin: 20px auto;
    padding: 1.2rem;
    max-height: 360px;
}

.form3 {
    background-color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 900px;
    margin: 20px auto;
    padding: 1rem;
}

.inl {
    display: flex;
    justify-content: center;
}

.headi {
    margin: 0 auto;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

input {
    border: 1px solid black;
    width: 190px;
    padding: 5px 20px;
}

.form-body {
    text-align: center;
    padding: 20px 10px;
}

label {
    width: 400px;
    display: inline-block;
}

.form-body>* {
    padding: 5px;
}

.form__label {
    width: 40%;
    font-family: 'Barlow', sans-serif;
    text-align: left;
}

.form_input {
    width: 60%;
}

.d {
    margin: 0 auto;
    text-align: center;
}

.d1 {
    margin: 0 auto;
    text-align: center;
}

.inl {
    display: flex;
    align-items: center;
}

.foote {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: transform 0.4s;
}

.foote:hover {
    transform: scale(1.6);
}

.foote:active {
    transform: scale(0.1);
}

.Redirect {
    color: rgb(97, 97, 231);
    text-decoration: none;
}


/* * {
    box-sizing: border-box;
} */

body {
    margin: 0;
    min-height: 100%;
    width: 100%;
    /* display: flex;
    align-items: center; */
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
}

.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contacts-i {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.contact-card-inverse>h3 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 20%;
}

.contact-card-second>h5 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 15%;
}

.contact-data {
    padding-left: 20px;
    width: 70%;
}

.contact-data>h3 {
    color: rgb(95, 95, 95);
}

.contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.contact-card-inverse {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    width: 80%;
    height: 100px;
    flex-direction: row;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.contact-card-second {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    width: 80%;
    max-height: 200px;
    flex-direction: row;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.contact-card>img {
    width: 100%;
    height: 250px;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.contact-card-inverse>img {
    width: 10%;
    /* height: 250px; */
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.contact-card-second>img {
    width: 10%;
    /* height: 250px; */
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.col-12-book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    width: 100%;
    display: contents;
}

.search-bar {
    width: 30%;
    height: 30px;
    border-radius: 14px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.3s;
    outline: none;
    margin: 20px;
}

.search-bar:focus {
    transform: scale(1.4);
    width: 60%;
    border: 3px solid rgb(84, 155, 196);
}

.contact-card>h3 {
    font-weight: 700;
    font-size: 18px;
}

.info-group {
    display: flex;
    align-items: center;
}

.info-group>img {
    height: 11px;
    margin-right: 8px;
}

.info-group>p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}